#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px 18%;
  background: snow;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
/* Profile Section */
#profile {
  width: 97%;
  border: 1px solid gainsboro;
  border-width: 1px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 30px 20px;
}
#profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid gainsboro;
}
#name,
#edit-btn {
  margin-right: 10px;
}
#name {
  font-size: 28px;
  font-weight: 300;
}
#line-1 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
#edit-btn {
  border: 1px solid gainsboro;
  background-color: white;
  width: 120px;
  height: 25px;
}
#edit-btn:hover {
  background-color: hsl(0,0%,95%);
}
#gear {
  height: 25px;
  width: 25px;
  transition: all 1s ease-out;
}
#gear:hover {
  transform: rotate(180deg);
}
.line {
  margin-bottom: 15px;
}
.bold {
  font-weight: 600;
}
.m {
  margin-right: 30px;
}

/* Image Section */
.item {
  width: 293px;
  height: 293px;
  margin-top: 40px;
}
.item:hover {
  filter: brightness(75%);
}

.item > img {
  width: 100%;
  height: 100%;
}
