<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Editor</title>

</head>

<body>

    <h1>Document Editor</h1>
    <div>
        <textarea name="" id="textarea" cols="30" rows="10"></textarea>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('connect', () => {
            console.log("Connected to Web Socket Server!")
        })

        socket.on('disconnect', () => {
            console.log("Disconnected from Web Socket Server!")
        })

        const textarea = document.getElementById('textarea')
        textarea.addEventListener('input', (e) => {
            socket.emit('userInput', e.target.value)
        })

        socket.on('otherUserInput', (value) => {
            textarea.value = value
        })
    </script>
</body>

</html>