.diceFace {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 5px;
  border-width: 0px 7px 7px 7px;
  border-color: hsl(0, 0%, 84%);
  border-bottom-color: hsl(0, 0%, 73%);
  border-style: solid;
  border-radius: 10px;
  background-color: hsl(0, 0%, 90%);
  display: inline-flex;
  flex-direction: column;
}
.dot {
  width: 22px;
  height: 22px;
  border-width: 2px;
  border-style: inset;
  border-color: hsl(0, 0%, 35%);
  border-radius: 50%;
  background-color: hsl(0, 0%, 20%);
  align-self: center;
}
.line {
  height: 33.3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.jc {
  justify-content: center;
}
.je {
  justify-content: flex-end;
}
